/* ================ reset styles ================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================ common styles ================ */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
}

html,
body {
  font-family:
    Open Sans,
    sans-serif;
  font-style: normal;
  font-size: 16px;
}

.container {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
}

/* ================ header styles ================ */

.header {
  padding: 5px 0;
  z-index: 1000;
  border-bottom: 1px solid #d9e9e9;
}

.header-wrapper-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  padding: 8px 12px;
}

.navbar-logo > a {
  cursor: pointer;
}

.logo {
  width: 300px;
}

.logo .st3 {
  fill: #fff;
}

.logo .st0,
.logo .st1 {
  fill: #6cb52d;
}

.navbar-menu-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.navbar-menu li {
  cursor: unset;
  font-size: 0.95rem;
}

.navbar-list-item {
  position: relative;
  display: flex;
}

.navbar-link {
  font-family: Metropolis, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;

  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-link:after {
  content: ' ';
  position: absolute;
  left: 88%;
  display: block;
  transform: translateY(-50%) rotate(-45deg);
  margin-left: 0.5rem;
  transform-origin: center;
  border-bottom: 2px solid #111;
  border-left: 2px solid #111;
  border-radius: 1px;
  height: 0.5rem;
  width: 0.5rem;
}

.navbar-dropdown {
  position: absolute;
  background: #ffffff;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(108, 135, 135, 0.5);
  font-family:
    Open Sans,
    sans-serif;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 6px;
  top: 100%; /* Places the dropdown menu directly below the link */
  left: 0;
  visibility: hidden; /* Initially, the element is hidden */
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 20;
}

.navbar-dropdown li {
  white-space: nowrap;
  padding: 0.375rem 1rem;
}

.navbar-dropdown a {
  padding-right: 3rem;
  color: #111;
}

.navbar-dropdown a:hover,
.navbar-dropdown a.view-all-proj:hover {
  color: #6db33f;
}

.navbar-dropdown a.view-all-proj {
  display: block;
  color: #086dc3;
  margin-bottom: 24px;
}

.dev-tools {
  font-size: 0.8rem;
}

.navbar-dropdown svg {
  margin-left: 0.5rem;
  height: 1em;
  vertical-align: -0.125em;
}

.navbar-list-item:hover .navbar-dropdown {
  visibility: visible; /* The element becomes visible */
  opacity: 1; /* Fades in smoothly */
  display: block;
}

.theme-toggler {
  background: #d7e7e7;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 10px;
  align-self: center;
  margin: 0 10px;
  position: relative;
}

.theme-toggler input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.theme-toggler span.icon {
  background: #000;
  border-radius: 12px;
  color: #fff;
  display: block;
  height: 24px;
  left: -1px;
  position: absolute;
  top: -7px;
  transition: left 0.5s;
  width: 24px;
}

.sun {
  width: 13px;
  height: 13px;
  margin-left: 5px;
  margin-top: 5px;
}

.navbar-burger {
  display: none;
  height: 100%;
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, .05);
}

.hamburger {
  cursor: pointer;
  height: 48px;
  position: relative;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  user-select: none;
  width: 48px;
  outline: none;
  transform: none;
}

.hamburger > div:first-child {
  background: currentcolor;
  height: 2px;
  left: 12px;
  position: absolute;
  width: 24px;
  top: 16px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  transform: none;
}

.hamburger > div:nth-child(2) {
  background: currentcolor;
  height: 2px;
  left: 12px;
  position: absolute;
  width: 24px;
  top: 23px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  transform: none;
}

.hamburger > div:nth-child(3) {
  background: currentcolor;
  height: 2px;
  left: 12px;
  position: absolute;
  width: 24px;
  top: 30px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  transform: none;
}

/* ================ 1st section styles ================ */

.projects-section {
  margin: 3rem 0;
}

.projects-section .title {
  font-family: Metropolis, sans-serif;
  font-size: 3.5rem;
  margin-top: 40px;
  padding: 16px 0;
}

.description-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 960px;
}

.description-wrapper .description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.description-wrapper a {
  border: 2px solid #111;
  color: #111;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  height: auto;
  padding: 15px 30px;

  align-self: flex-start; /* This prevents the element from stretching to full width */
  display: inline-block;

  position: relative;
  overflow: hidden;
}

.description-wrapper a:hover {
  color: #fff;
}

.description-wrapper a:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 17, 17, 17) 0%,
    rgba(0, 17, 17, 1) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
  transition: left 0.3s;
}

.description-wrapper a:hover:before {
  left: 0;
}

/* ================ 2nd section styles ================ */

.projects-list-section {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #ebf2f2;
}

.projects-list {
  margin: 0 auto;
  max-width: 82.5%;
  display: flex;
  flex-wrap: wrap;
}

.projects-list article {
  width: 50%;
  padding: 12px;
}

.project-item {
  align-items: center;
  display: flex;
  gap: 20px;
  min-height: 100%;
  height: 100%;
  width: 100%;

  color: #111;

  border: 1px solid #d9e9e9;
  border-radius: 5px;
  padding: 30px 20px;
  background-color: white;

  position: relative;
  transition: all 0.3s ease;

  overflow: hidden;
}

.project-item:hover {
  box-shadow: 0 10px 20px 0 rgba(108, 135, 135, 0.2);
  text-decoration: none;
  top: -3px;
  transform: translateY(-3px);
}

.project-item img {
  flex: 1 1;
  min-width: 120px;
  text-align: center;
  height: 120px;
  max-width: 120px;
}

.project-info {
  flex: 3 1;
}

.project-info p {
  line-height: 1.7rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

/* ================ Media queries ================ */

@media screen and (max-width: 1344px) {
  .header{
    padding: 0;
  }

  .container {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-burger{
    display: block;
    z-index: 999;
  }

  .navbar-burger:hover{
    background-color: rgba(1, 1, 1, .05);
  }

  .hamburger.open > div:first-child {
    top: 23px;
    transform: rotate(45deg);
  }

  .hamburger.open > div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open > div:nth-child(3) {
    top: 23px;
    transform: rotate(-45deg);
  }

  .hamburger.open > div {
    background: white;
  }

  .navbar-menu-wrapper{
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    visibility: hidden;
  }

  .open.navbar-menu-wrapper {
    display: unset;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 3rem;
    background-color: #191e1e;
    color: #ffffff;
  }

  .open .navbar-list-item {
    position: static;
    display: block;
  }

  .open .navbar-link {
    color: #fff;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid hsla(0, 0%, 100%, .4);
    display: block;
    height: 60px;
    margin: 1rem 0;
    font-size: 2rem;

    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: normal;
    padding: 0;
  }

  .open .navbar-link:hover{
    color: #6cb52d;
  }

  .open .navbar-link::after {
    border: solid #98afae;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-5px, 5px) scale(1);
    content: " ";
    display: block;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 20px;
    transition: transform .2s ease-out;
    width: 15px;
    left: unset;
  }

  .navbar-list-item:hover .navbar-dropdown {
    display: none;
  }

  .navbar-menu {
    display: block;
  }

  .theme-toggler {
    display: none;
  }

  .projects-section {
    padding: 0 32px;
  }

  .project-item {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .project-info {
    text-align: left;
  }

  .project-item img {
    margin: 0 auto;
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .projects-list article {
    width: 100%;
  }

  .project-item img {
    width: 150px;
    height: 150px;
  }
}
