@import url('logo.css');
@import url('navbarMenu.css');
@import url('themeToggler.css');
@import url('burger.css');

/* ================ common ================ */

.header {
    padding: 5px 0;
    z-index: 1000;
    border-bottom: 1px solid #d9e9e9;
}

.header-wrapper-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

