.projects-section {
    margin: 3rem 0;
}

.projects-section .title {
    font-family: Metropolis, sans-serif;
    font-size: 3.5rem;
    margin-top: 40px;
    padding: 16px 0;
}

.description-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 960px;
}

.description-wrapper .description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
}

.description-wrapper a {
    border: 2px solid #111;
    color: #111;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    height: auto;
    padding: 15px 30px;

    align-self: flex-start; /* This prevents the element from stretching to full width */
    display: inline-block;

    position: relative;
    overflow: hidden;
}

.description-wrapper a:hover {
    color: #fff;
}

.description-wrapper a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
            to right,
            rgba(0, 17, 17, 17) 0%,
            rgba(0, 17, 17, 1) 50%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;
    transition: left 0.3s;
}

.description-wrapper a:hover:before {
    left: 0;
}