@import url('searchInput.css');
@import url('projectsList.css');

.projects-list-section {
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: #ebf2f2;
    min-height: 300px;
}

.projects-list-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
