/* ================ reset styles ================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================ common styles ================ */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
}

html,
body {
  font-family:
    Open Sans,
    sans-serif;
  font-style: normal;
  font-size: 16px;
}

.container {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
}
